##
## Velocity Template for logout flow's starting view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#macro( pageSpecificHeadLogout )
    #if ( $logoutContext and !$logoutContext.getSessionMap().isEmpty() )
        <meta http-equiv="refresh" content="10;url=$flowExecutionUrl&_eventId=propagate">
    #end    
#end
#set( $pageSpecificHead = "#pageSpecificHeadLogout()")
##
#parse("header.vm")

        <div class="content">
          <div class="column one">
            <p>You are being logged out of the identity provider. It is strongly recommended that you close all browser windows.</p>
            <br>
    
            #if ( $logoutContext and !$logoutContext.getSessionMap().isEmpty() )
                <p>#springMessageText("idp.logout.ask", "Would you like to attempt to log out of all services accessed during your session? Please select <strong>Yes</strong> or <strong>No</strong> to ensure the logout operation completes, or wait a few seconds for Yes.")</p>
                <br>

                <form id="propagate_form" method="POST" action="$flowExecutionUrl">
                    <button id="propagate_yes" type="submit" name="_eventId" value="propagate">Yes</button>
                    <button id="propagate_no" type="submit" name="_eventId" value="end">No</button>
                </form>

                <br>
                <p>#springMessageText("idp.logout.contactServices", "If you proceed, the system will attempt to contact the following services:")</p>
                <ul role="region" aria-live="polite">
                #foreach ($sp in $logoutContext.getSessionMap().keySet())
                    #set ($rpCtx = $multiRPContext.getRelyingPartyContextById($sp))
                    #if ($rpCtx)
                      #set ($rpUIContext = $rpCtx.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
                    #end
                    #if ($rpUIContext and $rpUIContext.getServiceName())
                      <li>$encoder.encodeForHTML($rpUIContext.getServiceName())</li>
                    #else
                      <li>$encoder.encodeForHTML($sp)</li>
                    #end
                #end
                </ul>
            #else
                <p><strong>#springMessageText("idp.logout.complete", "The logout operation is complete, and no other services appear to have been accessed during this session.")</strong></p>
                <!-- If SAML logout with no extra work to do, complete the flow by adding a hidden iframe. -->
                #if ( $profileRequestContext.getProfileId().contains("saml2/logout") )
                    <iframe style="display:none" src="$flowExecutionUrl&_eventId=proceed">
                #end
            #end

          </div>
        </div>
      </div>

#parse("footer.vm")
